<!DOCTYPE html>
<html>
<<<<<<< HEAD
<head>
   <title><%= title %></title>
   <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<%include layout.ejs %>

<h1 style="padding-top: 2em">Welcome to <%= title %></h1>


</body>
</html>

=======
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
>>>>>>> 7d358f44f4823504c539372b7675f01696d8e915
